.vs/
AGH_WIMiIP_Metoda_Elementow_Skonczonych/Debug/
*.tlog
*.log
*.obj
*.enc
*.idb
*.pdb
*.exe
*.ilk
x64/Release/AGH_WIMiIP_Metoda_Elementow_Skonczonych.iobj
x64/Release/AGH_WIMiIP_Metoda_Elementow_Skonczonych.ipdb
